<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="/fragments/navbase::navhead">

</head>
<body>
<nav th:replace="/fragments/navbase::thenav(${menuoption})"></nav>
<div th:each="eachArtiste : ${artistes}">
    <h2 th:text="${eachArtiste.fullName}"></h2>
    <h3 th:text="${eachArtiste.stageName}"></h3>
    //display image of artiste
    <img class="rounded-circle" th:src="${eachArtiste.image}== ''? '/images/defaultArtiste.jpg' : ${eachArtiste.image}"
         alt="Artiste"/>
    <div th:each="eachSong:${eachArtiste.songs}">
        <p th:text="${eachSong.title}"></p>
        <p th:text="${eachSong.yearReleased}"></p>
    </div>

    <form action="/updateartiste" method="post">
        <input type="hidden" name="id" th:value="${eachArtiste.id}">
        <p><button th:text="'Edit Artiste'" type="submit"></button></p>
    </form>
</div>
<span th:replace="/fragments/navbase::scripts"></span>
</body>
</html>